@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

body {
    font-family: 'Myriad Pro Regular';
}

h1 {
    text-align: right;
    background-color: red;
    color: white;
    margin: 0;
    padding: 0.5em;
}
