// out: main.css, sourcemap: false, compress: true
@import "theme.less";

@Page-Side-Margin: 40px;

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}

body {
    background-color: white;
    font-family: 'Myriad Pro Regular';
    display: flex;
    flex-direction: column;
    // more info on flex here: https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
    height: 100vh;
}

.top-bar {
    background-color: @color-primary-0;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    flex-shrink: 0;

    padding: 10px @Page-Side-Margin;

    .site-title {
      font-size: 40px;
    }
}

em {
  font-family: 'Myriad Pro Condensed Italic';
}

.body-content {
    margin: 20px @Page-Side-Margin 0 @Page-Side-Margin;
    flex: 1 0 auto;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 8px;
      padding-bottom: 2px;
      border-bottom: 1px solid lightgrey;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p {
      padding: 5px 10px;
    }
}

footer {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    flex-shrink: 0;

    background-color: @color-primary-3;
    color: white;

    padding: 10px 0;

    a {
      color: white;
    }
}
